section.article-list-container {
  @include span-columns(12);
  background: $article-list-item-background;
  border-radius: 6px;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
  border: 1px solid $base-border-color;

  @include media($mobile) {
    padding: 0;
    border-radius: 0;
    border: none;
  }
  
  header {
    opacity: 0.4;
    text-align: center;
    margin: 40px;
    text-shadow: 0 2px 1px $white;
  }

  footer {
    @include span-columns(12);
    text-align: center;
    margin: 40px auto;
  }
}

ul.article-list {
  @include span-columns(12);
  @include x-padding(20px);
  margin: 0;

  @include media($mobile) {
    padding: 0;

    > li {

      &:first-child {
        box-shadow: 0 0 10px;
      }

      &:first-child, &:last-child {
        border-radius: 0 !important;
      }
    }
  }

  > li {
    @include span-columns(12);
    background: $white;
    border: 1px solid $base-border-color;
    border-bottom: none;
    padding: 30px 20px;

    &:first-child {
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
    }

    div.description {
      @include span-columns(10 of 12);
      @include inline-block;

      a.article-title {
        color: $base-font-color;
        display: block;

        &:hover {
          color: $blue;
        }
      }

      ul {
        li {
          font-size: em(12);
          color: darken($light-gray, 30%);
          font-style: italic;
          padding-right: $base/3 +px;
        }
      }
    }

    aside.editable {
      @include span-columns(2 of 12);
      text-align: right;
    }
  }
}
