body.articles-index {
  header {
    h4 {
      float: right;
      margin: 0;
    }
  }
}

ul.article-list {
  @include span-columns(12);
  margin-left: 0;
  padding-left: 0;

  li {
    @include span-columns(12);
    background: $white;
    border-radius: 6px;
    border: 1px solid $stroke-color;
    margin: 10px auto;
    padding: 40px 20px;

    small {
      color: darken($light-gray, 30%);
    }

    aside.editable {
      float: right;
      
      a {
        text-decoration: none;
      }
    }
  }
}



article.article {
  @include shift(3);
  @include span-columns(6);
}

.highlight {
  background: yellow;
}

p::selection, p::-moz-selection {
  background: yellow;
}
