section.form {
  @include outer-container;
  text-align: center;
  margin: 40px auto;
}

form.add-article-form {
  @include pad(40px 0);
  margin: 40px auto;
  display: none;

  &.active {
    display: block;
    @include transition(all 0.5s ease-in-out);
  }

  fieldset {
    @include pad(60px);
    @include shift(2);
    @include span-columns(8);
    border: 8px dashed $stroke-color;
    border-radius: 8px;

    @include media($mobile) {

      input[type="submit"] {
        display: block;
        width: 100%;
      }

    }
  }

  div.text-field {
  }
}
