ul.article-list {
  @include span-columns(12);
  margin-top: 60px;
  margin-left: 0;
  padding-left: 0;
  

  li {
    background: $white;
    border: 1px solid $stroke-color;
    padding: 40px 20px;
    margin: 10px auto;
    border-radius: 6px;
    @include span-columns(12);

  }
}



article.article {
  @include span-columns(6);
  @include shift(3);
}

.highlight {
  background: yellow;
}

p::selection, p::-moz-selection {
  background: yellow;
}
