body.articles-show {
  position: relative;
}

section.article {
  @include span-columns(12);

  span.highlight {
    background: yellow;

    &:hover {
      cursor: pointer;
    }
  }

  > aside {
    @include span-columns(12);
    margin: 40px auto;

    div.action {
    }
  }

  article.article {
    @include span-columns(8);
    @include shift(2);

    header {
      @include span-columns(12);
      @include inline-block;
      border-bottom: 1px solid $base-border-color;

      h1 {
        font-size: $base-font-size * 2.50;
      }

      ul.meta-data {
        margin: (($base * 1.25) + px) auto;
        @include span-columns(12);

        li {
          padding-right: $base + px;

          &:last-child {
            text-align: right;
            float: right;
          }

          h6 {
            color: lighten($base-font-color, 50);
            text-shadow: 0 1px 1px $white;
          }
          
          a {
            font-style: italic;
            font-size: $base-font-size * 0.75;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

    }
    section.article-content {
      @include span-columns(12);
      @include y-padding(($base * 2) +px);

      p:first-of-type {
        p:first-letter {
          font-size: $base-font-size * 2;
        }
      }

      a {
        text-decoration: underline;
      }

      img {
        display: block;
        margin: ($base * 2 + px) auto;
      }
    }
  }
}

section.highlight-box {
  display: none;

  position: absolute;

  a {
    background: green;

    &:hover {
      background: darken(green, 5);
    }
  }
}

section.undo-box {
  display: none;

  position: absolute;

  a {
    background: $light-blue;

    &:hover {
      background: darken($light-blue, 5);
    }
  }
}
