section.form {
  @include outer-container;
  text-align: center;
  margin: 120px auto;

  section.container > a {
    color: $white;
  }

  @include media($mobile) {
    display: none;
  }
}

form.add-article-form {
  @include pad(40px 0);
  margin: 40px auto;
  display: none;

  &.active {
    display: block;
    @include transition(all 0.5s ease-in-out);
  }

  fieldset {
    @include pad(60px);
    @include shift(2);
    @include span-columns(8);
    border: 8px dashed $base-border-color;
    border-radius: 8px;
  }
}

div#spinner {
  display: none;
}
