%section.index
  %section.form
    %section.container
      =link_to content_tag( :i,'', :class => 'icon-plus' ) + " Add article", "", :class => "add-article button"
    = form_for (@article), html: { class: "add-article-form" } do |f|
      %fieldset
        %li
          %div.text-field
            = label_tag 'url', 'Add URL below:'
            = f.text_field :url
            = f.submit "Add", class: "submit-url button"


