%section.index
  %section.form
    %section.container
      =link_to content_tag( :i,'', :class => 'icon-plus' ) + " Add article", "", :class => "add-article button"
    %div#spinner
      %i.icon-spinner.icon-spin
    = form_for (@article), remote: true, html: { class: "add-article-form" } do |article|
      %fieldset
        = label_tag 'url', 'Add URL below:'
        %div
          = article.text_field :url
          = article.submit "Add", class: "submit-url button"


