%section.index
  %section.form
    %section.container
      =link_to content_tag( :i,'', :class => 'icon-plus' ) + " Add article", "", :class => "add-article button"
    %form{ :action => article_path, :method => "post", :class => "add-article-form" }
      %fieldset
        %li
          %div.text-field
            %label{ :for => "article" } Insert URL below:
            %input{ :type => "text", :name => "article", :class => "url-value", :placeholder => "http://google.com" }
            %input{ :type => "submit", :value => "Add", :class => "submit-url button" }
