form {

  fieldset {
    border: none;
  }

  div {
    position: relative;

    #{$all-text-inputs} {
      @include pad(8px 10px);
      border: 1px solid $base-border-color;
      border-radius: $base-border-radius * 2/3;
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: inset 0 0 6px $blue;
      }
    }

    input[type="submit"] {
      border: none;
      position: absolute;
      right: 0;
      bottom: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}
