header.header {
  @include span-columns(12);
  background: $header-background-color;

  section.header-container {
    @include outer-container;

    div.header-content {
      @include span-columns(12);
      padding-bottom: 10px;
      height: 80px;

      h1 {
        @include span-columns(2);
        font-size: em(18);

        a {
          color: $light-blue;
          margin: 0;
          text-decoration: none;
        }
      }

      nav {
        @include shift(7);
        @include span-columns(3);
        @include inline-block;

        ul {
          li {
            text-align: right;
            @include span-columns(6);
            @include omega(2n);
          }
        }
      }
    }
  }
}
