header.header {
  @include span-columns(12);
  background: $header-background-color;

  section.header-container {
    @include outer-container;

    div.header-content {
      @include span-columns(12);
      margin: 0;
      position: relative;

      @include media($mobile) {
        margin: 0 auto 15px 0;
      }

      h1 {
        @include span-columns(2);
        font-size: $base-font-size * 1.5;
        padding-top: ( $base / 2 ) + px;


        a {
          color: $light-blue;
        }
      }

      span.dropdown-drawer {
        z-index: 100000;
        float: right;
        display: none;
        position: absolute;
        top: 18px;
        right: 18px;

        @include media($mobile){
          display: block;
        }
        
        a {
          color: $white;

          i.icon-reoder {
            font-size: em(22);
          }
        }
      }

      nav {
        @include shift(6);
        @include omega();
        @include span-columns(4);
        @include inline-block;

        @include media($tablet) {
          @include shift(4);
          @include span-columns(4);
          font-size: em(14);
        }

        @include media($mobile) {
          @include shift(0);
          @include span-columns(12);
          @include fill-parent();
          font-size: em(14);
          display: none;
        }

        ul {
          @include span-columns(12);
          margin: 0;

          li {
            @include span-columns(6);
            @include omega(2n);
            margin-right: 0;

            @include media($mobile) {
              display: block;
              width: 100%;

              &:first-child {
                a {
                  border-top: none;
                }
              }

              &:last-child {
                a {
                  border-bottom: none;
                }
              }

              a {
                @include y-padding(10px);
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                border-left: none !important;
                border-right: none !important;
                font-size: em(14);
              }
            }

            &:first-child {
              a {
                border-left: none;
              }
            }

            &:last-child {
              a {
                border-right: none;
              }
            }

            a {
              @include y-padding(20px);
              border-left: 1px solid rgba(255, 255, 255, 0.2);
              border-right: 1px solid rgba(0, 0, 0, 0.3);
              color: $white;
              width: 100%;
              display: block;
              text-align: center;
              font-size: em(14);

              &:hover {
                background: darken($header-background-color, 5%);
                color: $white;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
              }
            }
          }
        }
      }
    }
  }
}
