body {
  margin: 0;
  padding: 0;
  background: $background-color;
}

section.container {
  @include outer-container;
  @include vertical-padding(20px);
  margin-bottom: 40px;

  @include media($mobile) {
    padding: 0;
  }
}

section.body-content {
  margin: 40px auto;

  @include media($mobile) {
    margin: 0;
  }
}
