$serif: "ff-tisa-web-pro", serif;
$sans-serif: "freight-sans-pro", sans-serif;

$heading: $sans-serif;

body {
  font-family: $serif;
  font-size: em(22);
}

h1 {
  font-family: $heading;
  font-weight: 600;
}

a {
  color: $light-blue;

  &:hover {
    color: darken($light-blue, 20%);
  }
}

header {
  a {
    color: $white;

    &:hover {
      color: darken($white, 20%);
    }
  }
}
