$serif: "ff-tisa-web-pro", serif;
$sans-serif: "freight-sans-pro", sans-serif;

$heading: $sans-serif;

$base-font-size: em(22);

body {
  font-family: $serif;
  font-size: $base-font-size;
  color: $base-font-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: $base-font-size * 1.1;
}

h1 {
  font-family: $heading;
  font-weight: 600;
}

a {
  color: $light-blue;
  text-decoration: none;

  &:hover {
    color: darken($light-blue, 20%);
  }
}

header {
  a {
    color: $white;

    &:hover {
      color: darken($white, 20%);
    }
  }
}
