$background-color: #fbfbf6;

$dark-gray: #444444;
$light-gray: #e1e1e1;

$base-font-color: $dark-gray;

$header-background-color: #46423d;

$article-list-item-background: #EBEBEB;

$blue: #629af7;
$dark-blue: #6d7b94;
$light-blue: #9aa8c1;
$white: #ffffff;


$stroke-color: $light-gray;
