/* Typography
/*================================*/
$serif: "ff-tisa-web-pro", serif;
$sans-serif: "freight-sans-pro", sans-serif;

$base-font-family: $serif;
$header-font-family: $sans-serif;

/* Sizes
/*===============================*/
$base: 22;
$base-font-size: 22px;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: 6px;

/* Colors
/*===============================*/

$white: #ffffff;
$light-tan: #FBFBF6;

$light-blue: #9aa8c1;
$blue: #629AF7;
$dark-blue: #6D7B94;

$light-gray: #EFEFEF;
$medium-gray: #CCCCCC;
$charcoal-gray: #46423d;
$dark-gray: #444444;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;


// Type Colors
$base-font-color: $dark-gray;
$base-accent-color: $light-blue;

// Type Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: saturate($light-blue, 50%);

// Element Colors
$background-color: $light-tan;
$header-background-color: $charcoal-gray;
$article-list-item-background: #EBEBEB;
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;


