@import 'neat/neat-helpers';

$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 768px 8);
$desktop: new-breakpoint(min-width $max-width 12);
$max-width-breakpoint: new-breakpoint(max-width $max-width 12);
