%header.header
  %section.header-container
    %div.header-content
      %h1 
        = link_to "ReadMe.md", "/"
      %nav
        %ul
          %li
            = link_to "Sign Up", new_user_registration_path
          %li
            = link_to "Log In", new_user_registration_path
